a{
    text-decoration: none;
  }
  div{
   
    letter-spacing: 0;
    text-align: center;
    padding: 25px;
    text-transform: capitalize;
    word-spacing: 5px;
  }
  div a{
    color:white;
    padding: 11px;
    
  }
  div a:hover{
    color: rgb(255, 255, 255);
    border-bottom :2px solid whitesmoke;
  
  
  }
  img{
    width: 25px;
    height: 25px;
    background-size: cover;
    padding: 6px;
    transition:transform 0.4s ease-in-out;
  
   


  }
  img:hover{

    transform: scale(1.4);
  }
  body{
    background-color: bisque;
    background-image: url(Neutral\ Inspirational\ Quote\ Desktop\ Wallpaper_20240715_170957_0000.png);
  }
  p{
    font-size: 20px;
    padding: 10px;
   text-transform: capitalize;
  }